/* パソコンとスマホの共通レイアウト(タグの部分) */
.cp_tab *,
.cp_tab *:before,
.cp_tab *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cp_tab {
	margin: 1em auto;
}

.cp_tab>input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	appearance: none;
	display: none;
}

.cp_tab .cp_tabpanels {
	position: relative;
	min-height: 150px;
	/* エリアの高さ */
}

.cp_tab .cp_tabpanel {
	position: absolute;
	width: 100%;
	opacity: 0;
	padding: 0.5em 1em;
	transform: translateY(-10px);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.cp_tab>input:first-child:checked~.cp_tabpanels>.cp_tabpanel:first-child,
.cp_tab>input:nth-child(3):checked~.cp_tabpanels>.cp_tabpanel:nth-child(2),
.cp_tab>input:nth-child(5):checked~.cp_tabpanels>.cp_tabpanel:nth-child(3),
.cp_tab>input:nth-child(7):checked~.cp_tabpanels>.cp_tabpanel:nth-child(4),
.cp_tab>input:nth-child(9):checked~.cp_tabpanels>.cp_tabpanel:nth-child(5),
.cp_tab>input:nth-child(11):checked~.cp_tabpanels>.cp_tabpanel:nth-child(6) {
	opacity: 1;
	transform: translateY(0px);
}

.cp_tab>label {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 6px 6px 0 0;
	font-weight: bold;
}

/* パソコン用 */
@media screen and (min-width:481px) {

	/* タグの中身(予定が表示される部分)の晴れのデザイン */
	.cp_tab>input:first-child:checked~.cp_tabpanels>.cp_tabpanel:first-child {
		background: rgb(249, 198, 103);
		font-size: 15px;
	}

	/* タグの中身(予定が表示される部分)の雨のデザイン */
	.cp_tab>input:nth-child(3):checked~.cp_tabpanels>.cp_tabpanel:nth-child(2) {
		background: #b2d9f9;
		font-size: 15px;
	}

	.cp_tab>label {
		position: relative;
		display: inline-block;
		padding: 5px 10px;
		cursor: pointer;
		border-radius: 6px 6px 0 0;
		font-weight: bold;
	}

	/* 晴れタグデザイン */
	.cp_tab>input:first-child+label {
		background: rgb(249, 198, 103);
		font-size: 20px;
	}

	/* 雨タグデザイン */
	.cp_tab>input:nth-child(3)+label {
		background: #b2d9f9;
		font-size: 20px;
	}

	.cp_tab>label:hover {
		color: #0066cc;
	}


	/* .cp_tab>input:focus+label {
		color: #ffffff;
	} */

	/* .cp_tab>input:checked+label {
		margin-bottom: -1px;
	} */

	/* 雨の旅行予定デザイン */
	#rain>.p {
		width: 400px;
		line-height: 40px;
		background-color: #fff;
		border-radius: 30px;
		color: black;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}

	/* 晴れの旅行予定デザイン */
	#sunny>.p {
		width: 400px;
		line-height: 40px;
		background-color: #fff;
		border-radius: 30px;
		color: black;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}

	/* 晴れの時間のテキストサイズ指定 */
	#sunny>.h3 {
		color: black;
		font-size: 25px;
	}

	/* 雨の時間のテキストサイズ指定 */
	#rain>.h3 {
		color: black;
		font-size: 25px;
	}

	/* 旅行タイトルデザイン */
	#title {
		width: 500px;
		line-height: 60px;
		background-color: rgb(250, 212, 143);
		border-radius: 30px;
		color: black;
		text-align: center;
		font-weight: bold;
		font-size: 15px;
	}

	/* 日付のデザイン */
	.day {
		width: 300px;
		line-height: 50px;
		background-color: #cdf9d1;
		border-radius: 30px;
		color: black;
		text-align: center;
		font-weight: bold;
	}
}

/* スマホ用 */
@media screen and (max-width:480px) {

	/* タグの中身(予定が表示される部分)の晴れのデザイン */
	.cp_tab>input:first-child:checked~.cp_tabpanels>.cp_tabpanel:first-child {
		background: rgb(249, 198, 103);
		font-size: 16px;
	}

	/* タグの中身(予定が表示される部分)の雨のデザイン */
	.cp_tab>input:nth-child(3):checked~.cp_tabpanels>.cp_tabpanel:nth-child(2) {
		background: #b2d9f9;
		font-size: 16px;
	}

	.cp_tab>label {
		position: relative;
		display: inline-block;
		padding: 5px 10px;
		cursor: pointer;
		border-radius: 6px 6px 0 0;
		font-weight: bold;
	}

	/* 晴れタグデザイン */
	.cp_tab>input:first-child+label {
		background: rgb(249, 198, 103);
		font-size: 25px;
	}

	/* 雨タグデザイン */
	.cp_tab>input:nth-child(3)+label {
		background: #b2d9f9;
		font-size: 25px;
	}

	/* タグにカーソルが置かれているとき・押されたときの色 */
	.cp_tab>label:hover {
		color: #0066cc;
	}

	/* .cp_tab>input:focus+label {
		color: #ffffff;
	} */

	/* .cp_tab>input:checked+label {
		margin-bottom: -1px;
	} */

	/* 雨の旅行予定デザイン */
	#rain>.p {
		width: 100%;
		line-height: 50px;
		background-color: #fff;
		border-radius: 30px;
		color: black;
		text-align: center;
		font-weight: bold;
		font-size: 30px;
		text-align: center;
	}

	/* 晴れの旅行予定デザイン */
	#sunny>.p {
		width: 100%;
		line-height: 50px;
		background-color: #fff;
		border-radius: 30px;
		color: black;
		text-align: center;
		font-weight: bold;
		font-size: 30px;
		text-align: center;
	}

	/* 晴れの時間のテキストサイズ指定 */
	#sunny>.h3 {
		color: black;
		font-size: 25px;
	}

	/* 雨の時間のテキストサイズ指定 */
	#rain>.h3 {
		color: black;
		font-size: 25px;
	}

	/* 旅行タイトルデザイン */
	#title {
		width: 400px;
		line-height: 60px;
		background-color: rgb(250, 212, 143);
		border-radius: 30px;
		color: black;
		text-align: center;
		font-weight: bold;
		font-size: 15px;
	}

	/* 日付のデザイン */
	.day {
		width: 250px;
		line-height: 40px;
		background-color: #cdf9d1;
		border-radius: 30px;
		color: black;
		text-align: center;
		font-weight: bold;
	}
}