<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Displaytitle</title>
</head>
<body>
    <h1>Tentative ID = 1 のデータ</h1>
    <table border="1">
        <tr>
            <th>IDth</th>
            <th>Nameth</th>
            <th>Other Columnth</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.other_column }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>